<mat-card>
  <mat-form-field>
    <input matInput placeholder="address" [formControl]="address"> 
  </mat-form-field>
  <br>
  <mat-form-field>
    <input matInput placeholder="address2" [formControl]="address2">
  </mat-form-field>
  <br>
  <mat-form-field>
    <input matInput [formControl]="city" placeholder="city">
  </mat-form-field>
  <br>
  <mat-form-field>
    <input matInput [formControl]="state" placeholder="state">
  </mat-form-field>
  <br>
  <mat-form-field>
    <input matInput [formControl]="zip" placeholder="zip">
  </mat-form-field>
  <br>
  <button mat-button (click)="onUpdateLocation()">Update Location Info</button>
</mat-card>
