<mat-card>
  <mat-list>
    <mat-list-item *ngFor="let day of hours">
      <span matLine>{{ day.dayOfWeek.toUpperCase() }}:</span>
      <mat-form-field>
        <input
          matLine
          matInput
          type="time"
          placeholder="open"
          [formControl]="day.open"
        />
      </mat-form-field>
      <mat-form-field>
        <input
          matLine
          matInput
          type="time"
          placeholder="close"
          [formControl]="day.close"
        />
      </mat-form-field>
    </mat-list-item>
  </mat-list>
  <button mat-button (click)="onUpdate()">Update</button>
</mat-card>
